# ==============================
# QuerIA Environment Template
# ==============================

# Mongo root
MONGO_ROOT_USER=xxx
MONGO_ROOT_PASSWORD=xxx
MONGO_URI=mongodb://xxx:xxx@mongo:27017/queria?authSource=admin

# Mongo Express
ME_ADMIN_USER=xx
ME_ADMIN_PASSWORD=xxx

# Rabbit
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=xxx
RABBITMQ_PASSWORD=xxx

# LLM
OLLAMA_URI=http://127.0.0.1:11434
OLLAMA_BASE_MODEL=llama3

# Logging
LOG_LEVEL=DEBUG

# SMTP
SMTP_USER=user@email.com
SMTP_PASSWORD=xxxx